.header {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  background-color: var(--bg-light);
  z-index: 1;
}

.header__logo {
  display: flex !important;
  align-items: center;
}

.header__logo img {
  height: 25px;
}
